<header>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
        <a class="navbar-brand" href="#"></a>
        <!-- <i class="fas fa-tasks" style="color:white; font-size:20px;"></i> -->
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if 'token' not in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard.index') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>