{% extends 'layout.html' %}

{% block title %} Employee List {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/employees/list.css') }}">
{% endblock head %}

{% block main %}
<section class="p-4">
    <h2>Employee</h2>
    <table class="table table-responsive-md">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Area</th>
                <th class="text-center">Profile Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td class="align-middle">{{ employee.name + ' ' + employee.surname }}</td>
                <td class="align-middle">{{ employee.email }}</td>
                <td class="align-middle">{{ employee.area }}</td>
                <td class="align-middle text-center">
                    <div class="profile-image-container">
                        <img src="{{ employee.profile_img }}" class="profile-img" alt="User profile image">
                    </div>
                </td>
                <td class="align-middle">
                    <div class="d-flex flex-column align-items-center">
                        <a href="{{ url_for('employees.editEmployeeView', id=employee.id) }}" class="btn btn-warning my-2 w-75">Edit</a>
                        <form action="{{ url_for('employees.deleteEmployee', id=employee.id) }}" method="DELETE" class="my-2 w-75">
                            <button class="btn btn-danger w-100">Remove</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock main %}