{% extends 'layout.html' %}

{% block title %} Employee List {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/employees/list.css') }}">
{% endblock head %}

{% block main %}
<section class="p-4">
    <h2>Employees</h2>
    {% if employees %}
    <div class="quick-actions-container">
        <p class="quick-actions-title">Quick Actions</p>
        <div class="quick-actions-links">
            <a href="{{ url_for('employees.createEmployeeView') }}">Create new employee</a>
        </div>
    </div>
    <table class="table table-responsive-md">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Area</th>
                <th class="text-center">Profile Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td class="align-middle">{{ employee.name + ' ' + employee.surname }}</td>
                <td class="align-middle">{{ employee.email }}</td>
                <td class="align-middle">{{ employee.area }}</td>
                <td class="align-middle text-center">
                    <div class="profile-image-container">
                        <img src="{{ employee.profile_img }}" class="profile-img" alt="User profile image">
                    </div>
                </td>
                <td class="align-middle">
                    <div class="d-flex flex-column align-items-center">
                        <a href="{{ url_for('employees.editEmployeeView', id=employee.id) }}" class="btn btn-warning my-2 w-75">Edit</a>
                        <form action="{{ url_for('employees.deleteEmployee', id=employee.id) }}" class="my-2 w-75 delete-employee-form">
                            <button class="btn btn-remove btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{{ url_for('employees.createEmployee') }}" method="POST">
                    <td class="form-field-container">
                        <input type="name" name="name" class="form-control" placeholder="Name">
                        <input type="name" name="surname" class="form-control" placeholder="Surname">
                    </td>
                    <td class="form-field-container">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </td>
                    <td class="form-field-container">
                        <input type="text" name="area" class="form-control" placeholder="Area">
                    </td>
                    <td></td>
                    <td class="form-field-container">
                        <button class="btn btn-add btn-outline-success">
                            +
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    {% else %}
    <div class="py-3">
        <p>It seems there are no employees in the organization yet.</p>
        <a href="{{ url_for('employees.createEmployeeView') }}">Create new employee</a>
    </div>
    {% endif %}
</section>
{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/employees/list.js') }}"></script>
{% endblock scripts %}