{% extends 'layout.html' %}

{% block title %} Register {% endblock title %}

{% block main %}
<section class="container pt-4">
    <form action="/register" method="POST" class="form jumbotron p-4">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ email }}" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" value="{{ password }}" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
{% endblock main %}