@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, span {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
}

.btn {
    border-width: 2px;
}

.btn:hover {
    transition: .5s ease;
    border: 2px solid black;
}

.btn-add, .btn-remove, .btn-edit {
    border-radius: 50%;
    font-size: 1.5rem;
    padding-top: 0;
    font-weight: 900;
    /* width: 3rem; */
}