.section-select-user-type {
    padding-top: 10rem;
    text-align: center;
}

.options-container {
    width: 100%;
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 4rem;
}