{% extends 'layout.html' %}

{% block title %} Edit User {% endblock title %}

{% block main %}
<section class="container pt-4">
    <h2>Edit Employee Data</h2>
    <form action="{{ url_for('users.editUser', id=userId) }}" method="PUT" class="form jumbotron p-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" autocomplete="off" autofocus>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="surname" id="surname" name="surname" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <form action="{{ url_for('users.uploadProfileImage') }}" method="POST" class="form jumbotron p-4" enctype="multipart/form-data">
        <div class="form-group">
            <label for="profile-image">Upload a profile image: </label>
            <input type="file" id="profile-image" name="profileImage">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
        <input type="hidden" name="id" value="{{ userId }}">
    </form>
</section>
{% endblock main %}