{% extends 'layout.html' %}

{% block main %}
<section>
    <h2>Usuarios</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] + user[3] }}</td>
                <td>
                    {% if user[4] %}
                        <img src="{{ url_for('uploads', filename=user[4]) }}" class="img-thumbnail" alt="Foto de perfil de {{ empleado[2] + empleado[3] }}">
                    {% else %}
                        <p>Sin foto</p>
                        <!-- <img src="" alt=""> -->
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock main %}