{% extends 'layout.html' %}

{% block title %} Create an organization {% endblock title %}

{% block main %}
<section class="container pt-4">
    <form action="/organizations/create" method="POST" class="form jumbotron p-4">
        <h2>Create your organization</h2>
        <div class="form-group">
            <label for="name">Name of your organization</label>
            <input type="text" name="name" value="{{ organizationName }}" class="form-control" placeholder="Name of your organization" autofocus autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
{% endblock main %}